.file-input {
    max-width: 100%;
    border: none;
}

.file-input::file-selector-button {
    display: inline-block;
    height: 100%;   
    border-radius: 50px;   
    background: #5cba9a;;
    border: none;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    line-height: 1px;
    @media (max-width: 768px) {
        padding: 20px;
        font-size: 1.3rem;
        overflow: visible;    
    }
}

